# pythonwhat deps
scipy==1.0.1
numpy==1.14.2
pandas==0.22.0
dill==0.2.7.1
markdown2==2.3.5
asttokens==1.1.10
jinja2==2.10
astor==0.6.2

# test deps
bs4==0.0.1
html5lib==1.0.1
h5py==2.7.1
requests==2.18.4
sas7bdat==2.0.7
seaborn==0.8.1
sqlalchemy==1.2.6
tweepy==3.6.0
xlrd==1.1.0

# test-utils deps
pytest==3.5.0
codecov==2.0.15
pytest-cov==2.5.1

# building documentation
sphinx==1.7.4
sphinx_rtd_theme==v0.3.1

