-r requirements.txt

# test deps
scipy~=1.13.1
bs4~=0.0.1
html5lib~=1.1
# h5py~=3.1.0
requests~=2.26.0
seaborn~=0.11.2
sqlalchemy~=1.4.23
xlrd~=2.0.1
openpyxl~=3.0.7

# test-utils deps
pytest~=6.2.5
pytest-cov~=2.12.1

# dependencies for pyodide_backend, can be removed later
ipython~=8.18.1
