-r requirements.txt

# test deps
scipy~=1.14.1
bs4~=0.0.1
html5lib~=1.1
requests~=2.31.0
seaborn~=0.11.2
sqlalchemy~=2.0.29
xlrd~=2.0.1
openpyxl~=3.1.0
h5py~=3.12.1

# test-utils deps
pytest~=8.1.1
pytest-cov~=6.1.1

# not included in requirements.txt
numpy~=2.0.2
pandas~=2.2.3
